---
import Main from "@/layouts/Main.astro";
import Link from "@/components/Link.astro";
import Section from "@/components/Section.astro";
import consts from "@/lib/const";
---

<Main title="datashard">
  <div id="intro">
    <p>
      {consts.descriptiopn}
      <br />
      they/them.
    </p>
    <br>
    <Link text="about" href="/about" />
    •
    <Link text="projects" href="/projects" />
  </div>
  <Section  title="currently">
    <li>
      apprentice @ <Link
        text={consts.employer.name}
        href={consts.employer.link}
      />
    </li>
    <li>product lead @ <Link text="pyro" href="https://pyro.host" /></li>
    <li>
      writing text @ <Link text="eurofurence" href="https://eurofurence.org" />
    </li>
  </Section>
  <Section title="on the web">
    <Link asLI text="bluesky" href="https://shard.wtf/bluesky" />
    <Link asLI text="twitter" href="https://shard.wtf/twitter" />
    <Link asLI text="fediverse" href="https://shard.wtf/masto" />
    <Link asLI text="github" href="https://shard.wtf/github" />
    <Link asLI text="dribbble" href="https://shard.wtf/dribbble" />
  </Section>
  <hr />
  <div id="contact">
    <h2 class="font-bold">{"->"} contact</h2>
    <Link text="j [at] datakra.sh" href="mailto:j@datakra.sh" />
  </div>
</Main>
