---
import ProjectCard from "@/components/ProjectCard.astro";
import type { Project } from "@/content/config";
import Main from "@/layouts/Main.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");

const sorted = [
  ...projects.filter(({ data: project }: { data: Project }) => project.featured),
  ...projects.filter(({ data: project }: { data: Project }) => !project.featured),
]

console.log(sorted)
---

<Main title="projects | datashard">
  <div id="projects" class="">
    <div id="header" class="">
      <div class="p-4 mb-2">
        <h1 class="font-bold text-2xl">projects</h1>
        <p>mix of my professional and personal work.</p>
      </div>
      <div class="grid grid-cols-1 gap-4 content-evenly">
        {
          projects.map(({ data: project }: { data: Project }) => (
            <ProjectCard project={project} />
          ))
        }
      </div>
    </div>
  </div>
</Main>
