---
import Link from "@/components/Link.astro";
import Main from "@/layouts/Main.astro";
---

<Main title="snapshot | datashard">
  <Link text="back" href="/" />
  <hr />
  <p>
    <Link
      text="@datashard/snapshot"
      href="https://npm.im/@datashard/snapshot"
    /> is currently being mirrored to
    <Link text="git.cyberwa.re" href="https://git.cyberwa.re/j/snapshot" />
    while it's actual repository is hosted on <Link
      text="GitHub"
      href="https://github.com/datashard/snapshot"
    />.
  </p>
</Main>
