<div id="themeToggle" class="flex justify-end items-center w-full h-12 fixed top-0 p-4 z-50">
  <button id="theme-toggle">
    <span id="dark">dark</span>
    <span id="light">light</span>
  </button>
</div>
