---
import "@/styles/globals.css";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { ThemeScript } from "astro-theme-toggle";
import Wordmark from "@/components/Wordmark.astro";
import consts from "@/lib/const";
import Link from "@/components/Link.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={consts.descriptiopn} />
    <meta property="og:image" content="/wordmarks/dark.png" />
    <meta name="theme-color" content="#ffffff" />
    <script defer src="https://umami.implant.cam/script.js" data-website-id="2beb701f-30c3-4f02-8c9e-1f4f73a1f5e1"></script>
    <title>{title}</title>
    <ThemeScript />
  </head>
  <body class="dark:bg-black dark:text-white">
    <ThemeToggle />
    <main class="relative py-16 px-8 flex flex-col gap-4">
      <div class="flex flex-col gap-4 max-w-[30rem] mx-auto">
        <div class="relative flex flex-col gap-4 w-full mx-auto max-w-4xl">
          <Wordmark />
          {
            title !== "datashard" && (
              <>
                <Link text="back" href="/" />
                <hr />
              </>
            )
          }
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  import { handleToggleClick } from "astro-theme-toggle";
  const addListener = () => {
    document
      .getElementById("theme-toggle")
      ?.addEventListener("click", handleToggleClick);
  };
  addListener();
  document.addEventListener("astro:after-swap", addListener);
</script>
